*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
li{list-style-type: none;}
a{text-decoration: none;}
html,body{
    font-family: 'Nanum Gothic', sans-serif;
}
/* header */

header{
    position: relative;
    width: 100%;
    height: 930px;
    /* border: 1px solid red; */
    background: #333;
}
.main-title{
    position: absolute;
    left: 5%; top: 5%;
    width: 25%;
    height: 160px;
    color: white;
    animation-duration: 4s;
    animation-name: main-title;
    animation-direction: alternate;
    /* background: #ccc; */
}
@keyframes main-title {
    from {
      opacity: 0; 
    }
  
    to {
      opacity: 1;
    }
}
#container .sns{
    position: absolute;
    right: 5%; top: 7%;
    text-shadow: 1px 1px 4px black;
}
#container .sns i:hover{
    transform: scale(1.2);
    transition: all .3s linear;
    color: #ec9b24;
}
#container .sns i{
    padding-right: 20px;
    transform: scale(1);
    transition: all .3s linear;
}
#container .sns a{
    color: white;
}
.main-title h1{
    width: 100%;
    padding-bottom: 5px;
    font-size: 3.4em;
    font-weight: bold;
    border-bottom: 8px solid #ec9b24;
    text-shadow: 1px 1px 4px black;
}
.main-title p{
    width: 100%;
    margin-top: 15px;
    font-size: 2.2em;
    font-weight: bold;
    text-shadow: 1px 1px 4px black;
}

/* header - main-visual */

.main-visual{
    width: 100%;
    height: 760px;
    /* border: 1px solid red; */
}
.visual{
    width: 100%;
    height: 600px;
    /* border: 1px solid red; */
    /* background: #333; */
}
.visual-box{
    position: absolute;
    overflow: hidden;
    width: 600px;
    height: 600px;
    left: 35%;
    top: 20%;
    border: 15px solid #ec9b24;
    border-radius: 50%;
    box-shadow: 8px 8px 6px black inset;
    animation-duration: 2s;
    animation-name: visual-box;
    animation-direction: alternate;
}
@keyframes visual-box {
    from {
        transform: scale(1.5);
      opacity: 0; 
    }
  
    to {
        transform: scale(1);
      opacity: 1;
    }
}
.visual-box img{
    margin-left: -40px;
    margin-top: 50px;
    animation-duration: 2s;
    animation-name: visual-boximg;
    animation-direction: alternate;
}
@keyframes visual-boximg {
    from {
      opacity: 0; 
    }
  
    to {
        
      opacity: 1;
    }
}
.visual-left-txt{
    position: absolute;
    left: 5%; top: 25%;
    text-align: left;
    text-shadow: 1px 1px 4px black;
    color: white;
    animation-duration: 2s;
    animation-name: visual-left-txt;
    animation-direction: alternate;
}
.visual-left-txt h1{
    margin-bottom: 20px;
    font-size: 2.5em;
}
@keyframes visual-left-txt {
    from {
        left: 0%; top: 25%;
      opacity: 0; 
    }
  
    to {
      opacity: 1;
    }
}
.visual-left-txt p{
    line-height: 2;
    font-size: 1.6em;
}
.visual-right-txt{
    position: absolute;
    right: 5%; bottom: 15%;
    color: whitesmoke;
    text-shadow: 1px 1px 4px black;
    animation-duration: 2s;
    animation-name: visual-right-txt;
    animation-direction: alternate;
}
@keyframes visual-right-txt {
    from {
        right: 0%; bottom: 15%;
      opacity: 0; 
    }
  
    to {
      opacity: 1;
    }
}
.visual-right-txt > .line{
    border-right: 10px solid #ec9b24;
    height: 100px;
    margin-right: 5%;
    margin-top: 10%;
    margin-bottom: 10%;
}
.visual-right-txt h1{
    font-size: 2.5em;
}
.visual-right-txt p{
    text-align: right;
    font-size: 1.6em;
    line-height: 2;
}
/* main-menu */

#quick-menu{
    position: fixed;
    right: 1%; top: 30%;
    z-index: 999;
}
#quick-menu .depth1 li{
    margin-bottom: 50px;
}

/* content1 영역 */

#content1{
    position: relative;
    background: #636363;
    width: 100%;
    height: 800px;
    text-align: center;
    /* margin-bottom: 40px; */
    border-top: 5px solid #ec9b24;
}
#content1 h1{
    position: absolute;
    font-size: 3em;
    margin-bottom: 80px;
    width: 100%;
    background: #333;
    color: white;
    padding: 15px;
    font-weight: bold;
    text-shadow: 2px 2px 4px black;
    box-shadow: 2px 2px 3px black;
}

/* content2 영역 */
#content2{
    position: relative;
    width: 100%;
    height: 900px;
    text-align: center;
    background: #636363;
}
#content2 h1{
    font-size: 3em;
    width: 100%;
    background: #333;
    color: white;
    padding: 15px;
    font-weight: bold;
    text-shadow: 2px 2px 4px black;
    box-shadow: 2px 2px 3px black;
}

/* content2 left영역 */
#content2 .content2-left{
    position: absolute;
    left: 0; top: 95px;
    width: 50%;
    height: 800px;
    opacity: 0;
    /* border: 1px solid red; */
}
.content2-left-txt p{
    position: absolute;
    left: 50%; transform: translateX(-50%);
    top: 5%;
    font-size: 2em;
    color: whitesmoke;
}
.content2-left-img{
    position: absolute;
    top: 50%; transform: translateY(-50%);
    left: 10%;
}
.content2-left img{
    width: 250px;
}
/* content2 right영역 */
#content2 .content2-right{
    position: absolute;
    right: 0; top: 95px;
    width: 50%;
    height: 800px;
    opacity: 0;
    /* border: 1px solid red; */
}
.content2-right-txt p{
    position: absolute;
    left: 50%; transform: translateX(-50%);
    top: 5%;
    font-size: 2em;
    color: whitesmoke;
}
.content2-right-case{
    position: absolute;
    left: 50%; transform: translateX(-50%);
    top: 150px;
}
.content2-right-slider{
    position: absolute;
    width: 210px; height: 300px;
    left: 50.3%; transform: translateX(-50.3%);
    top: 220px;
}
.content2-right-slider > img{
    position: absolute;
    left: 0; top: 0;
    opacity: 0;
    transition: 1s; /* 1초 전환효과 */
}
.content2-right-slider > img:first-child{
    opacity: 1;
}
.content2-right-case img{
    width: 243px;
    height: 495px;
}
.content2-right-slider img{
    width: 210px;
}

/* content3 */

#content3{
    position: relative;
    width: 100%;
    height: 980px;
    text-align: center;
    background: #636363;
}
#content3 h1{
    font-size: 3em;
    width: 100%;
    background: #333;
    color: white;
    padding: 15px;
    font-weight: bold;
    text-shadow: 2px 2px 4px black;
    box-shadow: 2px 2px 3px black;
}

/* osan 영역 */

.content3-container{
    position: relative;
    background: #636363;
    opacity: 0;
    width: 100%;
    height: 900px;
}
.content3-osan-img-txt{
    position: absolute;
    left: 9%; top: 58%;
}
.content3-osan-img-txt h2{
    color: #333;
    text-align: left;
    padding: 0;
    margin-bottom: 15px;
    text-shadow: 3px 3px 3px #333;
    color: whitesmoke;
}
.content3-osan-img-txt p{
    width: 250px;
    font-size: 14px;
    font-weight: middle;
    line-height: 1.5;
    text-align: left;
    color: whitesmoke;
}
.content3-osan-img-link{
    position: absolute;
    left: 8.7%; top: 47%;
    text-align: left;
    font-size: 1.2em;
}
.content3-osan-img-link a{
    color: #ec9b24;
    font-weight:bold;
    display: block;
    padding: 10px;
    width: 160px;
}
.content3-osan-img-link a:hover{
    background: #333;
    color: white;
}
.list-osan{
    position: absolute;
    top: 15%; left: 26%;
}
.list-osan li{
    position: absolute;
    width: 400px;
    left: 20%; top: 20%;
    overflow: hidden;
}
.list-osan li:hover .caption{
    padding: 20px;
    bottom: 0;
}
.list-osan li img{width: 100%; border: 1px solid #ec9b24;}
.list-osan li .caption{
    position: absolute;
    left: 0; right: 0;
    bottom: 100%;
    height: 100%;
    background: rgba(3, 3, 3, 0.7);
    transition: 0.5s;
}
.list-osan li .caption img{
    position: absolute;
    left: 50%; transform: translateX(-50%);
    top: 45%;
    border: 1px solid #ec9b24;
    border-radius: 50%;
    width: 40px;
}
/* samjin 영역 */

.content3-samjin-img-txt{
    position: absolute;
    right: 33%; top: 55%;
}
.content3-samjin-img-txt h2{
    color: #333;
    text-align: left;
    padding: 0;
    margin-bottom: 15px;
    color: whitesmoke;
    text-shadow: 3px 3px 3px #333;
}
.content3-samjin-img-txt p{
    width: 250px;
    font-size: 14px;
    font-weight: middle;
    line-height: 1.5;
    text-align: left;
    color: whitesmoke;
}
.content3-samjin-img-link{
    position: absolute;
    right: 38%; top: 44%;
    text-align: left;
    font-size: 1.2em;
}
.content3-samjin-img-link a{
    color: #ec9b24;
    font-weight:bold;
    display: block;
    padding: 10px;
    width: 160px;
}
.content3-samjin-img-link a:hover{
    background: #333;
    color: white;
}
.list-samjin{
    position: absolute;
    top: 13%; right: 35%;
}
.list-samjin li{
    position: absolute;
    width: 400px;
    left: 20%; top: 20%;
    overflow: hidden;
}
.list-samjin li:hover .caption{
    padding: 20px;
    bottom: 0;
}
.list-samjin li img{width: 60%; border: 1px solid #ec9b24;}
.list-samjin li .caption{
    position: absolute;
    left: 20%; right: 0;
    width: 60%;
    bottom: 100%;
    height: 100%;
    background: rgba(3, 3, 3, 0.7);
    transition: 0.5s;
}
.list-samjin li .caption img{
    position: absolute;
    left: 50%; transform: translateX(-50%);
    top: 45%;
    border: 1px solid #ec9b24;
    border-radius: 50%;
    width: 40px;
}
/* footer */

#footer{
    position: relative;
    width: 100%;
    height: 250px;
    background: #fff;
    border-top: 5px solid #333;
}
.contact{
    position: absolute;
    left: 50%; transform: translateX(-50%);
    top: 5%;
    text-align: center;
}
.contact h1{
    color: #ec9b24;
    font-size: 2.5em;
    margin-bottom: 10px;
}
.contact p{
    width: 50px;
    border: 1px solid #ec9b24;
    margin: 0 auto;
    margin-bottom: 10px;
}
.contact h3{
    line-height: 2;
    color: #333;
}
.copyright{
    position: absolute;
    width: 100%;
    height: 50px;
    text-align: center;
    background: #333;
    left: 50%; transform: translateX(-50%);
    bottom: 0;
}
.copyright p{
    margin-top: 15px;
    color: white;
}